<div id="header">
  <h1>
    Law offices of
    <div id="banner">Larry K Roberts, inc.</div>
  </h1>
  <div class="navi"></div>
  <ul id="nav">
    <li class="active">
      <a id="Home" href="javascript: void(0);"/>Home</a>
    </li>
    <li>
      <a id="Firm" href="javascript: void(0);"/>Firm</a>
    </li>
    <li>
      <a id="Location" href="javascript: void(0);"/>Location</a>
    </li>
  </ul>
</div>
<div id="main">  
  <div id="frame-window" >
    <div id="paneCont" class="items">
      <div class="pane">
        <p>Larry K. Roberts, Inc. was founded in 1983, as a law firm specializing in intellectual property law. The firm's focus is on patents and trademarks. A primary emphasis is on patent preparation and prosecution in the U.S. and foreign patent offices, in diverse areas of technology including electronic systems, controls and sensors for bathing systems, robotics, computer peripherals, printers, microwave devices and systems, radars, microprocessor-controlled systems, mechanical devices, consumer goods,  and circuit board fabrication systems and processes. The firm also renders patent validity and infringement opinions, and has litigation experience.</p>
      </div>
      <div class="pane">
        <p>Larry K. Roberts has been in private law practice since 1976, specializing in intellectual property law. He received a B.S. degree in Electrical Engineering in 1971 from the University of Illinois. Mr. Roberts was employed  by Hughes Aircraft Company as a microwave engineer, engaged in communication systems testing for commercial satellites and development of airborne radar equipment. He received a Hughes Masters Fellowship for graduate work in electrical engineering at UCLA, and was awarded a Master of Science degree in 1975.   He has prepared and prosecuted hundreds of patent applications, in diverse technical arts, including electronic devices and systems, printers, ink-jet technology, mechanical devices, robotic systems, semiconductor devices, microwave devices, radars and other sensor systems, semiconductor technology, microprocessor-controlled equipment, software control, video display apparatus,  optical character recognition, communications equipment, business methods, golf clubs and other sports equipment and precision drilling equipment.</p>
        <p>Other aspects of Mr. Roberts' practice include client counseling, rendering opinions on patent scope and validity,  preparing and prosecuting applications for trademark registration and foreign patent and trademark prosecution.  He has litigation experience in intellectual property matters.</p>
      </div>
      <div class="pane">
        <iframe width="548" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;view=map&amp;q=Larry+K+Roberts&amp;sll=33.677306,-117.849077&amp;sspn=0.016053,0.028646&amp;g=2+Park+Plaza+Suite+300+Irvine,+CA+92614&amp;ie=UTF8&amp;hq=Larry+K+Roberts&amp;hnear=Park+Plaza,+Irvine,+CA+92614&amp;cid=12634591618751956011&amp;ll=33.691925,-117.838669&amp;spn=0.035711,0.094242&amp;output=embed"></iframe>
      </div>
    </div>
    <div id="frameFadeLeft"></div>
    <div id="frameFadeRight"></div>  
  </div>
  <div id="sidebar">
    <ul><%= erb :sidebar %></ul> 
  </div>
</div>