<li>
  <p>
    <a href="mailto:larry@larryrobertslaw.com">larry@larryrobertslaw.com</a><br />
    <a href="/wp-content/docs/larryRoberts.vcf">Download vCard</a>
  </p>
</li>
<li>
  <p>2603 Main Street<br />
9th Floor<br />
Irvine, CA 92614<br />
( <a href="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2+Park+Plaza+Suite+300+Irvine,+CA+92614&amp;sll=34.032425,-118.285353&amp;sspn=0.00441,0.019312&amp;g=1140+W+27th+St,+Los+Angeles,+CA+90007&amp;ie=UTF8&amp;ll=33.680533,-117.839055&amp;spn=0.009303,0.019312&amp;t=h&amp;z=16&amp;iwloc=addr">Google Maps</a> )
  </p>
</li>
<li>
  <p>Telephone:<br />
  949.250.6008
  </p>
  <p>Facsimile:<br />
  949.250.6012
  </p>
</li>